*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #8795dc;
}

.toolbox-cont{
    height: 5rem;
    background-color:#1cc7f2;
    background-color:#fd9797;
    display: flex;
    align-items: center;
    position:fixed;
    width: 100vw;
    top:0px
}

.toolbox-priority-cont{
    height: 3rem;
    background-color: #c79296;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}

.action-btn-cont{
    background-color: #8e8ee4;
    height: 3.1rem;
    width: 10.1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}

.color{
    width: 3.1rem;
    height: 1.5rem;
}

.lightpink{
    background-color:#f13a93e6;
}

.blue{
    background-color:blue;
}

.green{
    background-color:green;
    background-color:orange;
    background-color:rgb(162, 162, 106);
}
.white{
    background-color:white;
}
.black{
    background-color:black;
}

.add-btn, .remove-btn {
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
}

.add-btn:hover, .remove-btn:hover {
    background-color: #252538;
    color: #8e8ee4;
}

.modal-cont{
    position: absolute;
    top:26vh;
    left: 26vw;
    background-color: #4f272a;
    width: 50vw;
    height: 50vh;
    display: none;
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:#eededf;
    height: 100%;
    width: 76%;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid #2e353a;
}

.priority-color-cont{
    height: 100%;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.active{
    border: 5px solid #e3de7d;
}

.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.2rem; 
    margin-bottom: 2.2rem;
}

.ticket-cont{
    background-color: #f86b74;
    height: 10rem;
    width: 16rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 11px 11px 21px rgba(0,0,0,0.3);
}

.ticket-color{
    height: 0.9rem;
    width: 100%;
}

.ticket-id{
    height: 1.2rem;
    background-color: #cf656c;
    font-weight: 601;
    font-size: .9rem;
    color: rgb(187, 187, 187);
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.1rem 0.3rem 0rem 0.3rem;
    border-radius: 0.5rem;
}

.task-area{
    height: 5rem;
    padding-left: 0.4rem;
    padding-right: 0.3rem;
    font-size: 1.25rem;
    overflow: auto;
    outline: none;
    word-break: break-all;
}

.lock-unlock{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.9rem;
    width: 100%;
    padding-right: 1rem;
}

.lock-unlock i:hover {
    color: #1e004d;
}
