*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #97567d;
}

.toolbox-cont{
    height: 6rem;
    background-color: #1cc7f2;
    background-color: #fd9797;
    display: flex;
    align-items: center;
    position:fixed;
    width: 100vw;
    top:0px
}

.toolbox-priority-cont{
    height: 4rem;
    background-color: #c79296;
    width: 16rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
}

.action-btn-cont{
    background-color: #8e8ee4;
    height: 4rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
}

.color{
    height: 1.5rem;
    width: 4rem;
}

.lightpink{
    background-color:#f167aae6;
}

.blue{

}

.green{
    background-color:rgb(162, 162, 106);
}
.black{

}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}

.modal-cont{
    position: absolute;
    left: 25vw;
    top:25vh;
    background-color: #834146;
    height: 50vh;
    width: 50vw;
    display: none;
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:#eededf;
    height: 100%;
    width: 72%;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid #2b353d;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.active{
    border: 5px solid #e3de7d;
}

.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-bottom: 2rem;
}

.ticket-cont{
    background-color: #f86b74;
    height: 12rem;
    width: 18rem;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    height: 1.5rem;
    background-color: #f15761;
    font-weight: 500;
    font-size: .9rem;
    color: #141E27;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}

.task-area{
    height: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.25rem;
    overflow: auto;
    outline: none;
    word-break: break-all;
}

.lock-unlock{
    font-size: 1.5rem;
    margin-left: 14.5rem;
}
