*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #00537A;
}

.toolbox-cont{
    height: 6rem;
    background-color:#FFBA42;
    display: flex;
    align-items: center;
    position:fixed;
    width: 100vw;
    top:0px
}

.toolbox-priority-cont{
    height: 4rem;
    background-color: #66CDAA;
    width: 18rem;
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem;
    border-radius: 3rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}

.action-btn-cont{
    background-color: #66CDAA;
    height: 3.5rem;
    width: 10.5rem;
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    padding: 0.51rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}

.color{
    width: 3.1rem;
    height: 1.7rem;
}

.lightpink{
    background-color:#FF4500;
}

.blue{
    background-color:blue;
}

.green{
    background-color:green;
    background-color:orange;
    background-color:rgb(162, 162, 106);
}
.white{
    background-color:white;
}
.black{
    background-color:black;
}

.add-btn, .remove-btn {
    font-size: 1.6rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    border-radius: 3rem;
}

.add-btn:hover, .remove-btn:hover {
    background-color: #f6e2bc;
    color: #26265f;
}

.modal-cont{
    position: absolute;
    top:27vh;
    left: 27vw;
    background-color: #FFA500;
    width: 52vw;
    height: 52vh;
    display: none;
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:#eededf;
    height: 100%;
    width: 76%;
    font-size: 3rem;
    padding: 3rem;
    border-right: 3px solid #2e353a;
}

.priority-color-cont{
    height: 100%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 4rem;
    width: 6rem;
}

.active{
    border: 6px solid #e3de7d;
}

.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.3rem; 
    margin-bottom: 2.3rem;
}

.ticket-cont{
    background-color: #7FFFD4;
    height: 11rem;
    width: 17rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 11px 11px 21px rgba(0,0,0,0.3);
}

.ticket-color{
    height: 0.9rem;
    width: 100%;
}

.ticket-id{
    height: 1.3rem;
    background-color: #A52A2A;
    font-weight: 601;
    font-size: .10rem;
    color: rgb(187, 187, 187);
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    padding: 0.2rem 0.4rem 0rem 0.4rem;
    border-radius: 0.6rem;
}

.task-area{
    height: 6rem;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    font-size: 1.26rem;
    overflow: auto;
    outline: none;
    word-break: break-all;
}

.lock-unlock{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.10rem;
    width: 100%;
    padding-right: 1rem;
}

.lock-unlock i:hover {
    color: #1e004d;
}
